<html>
  <title>Attendance Sheet</title>
  <h1><%= @date  %>  Attendance Sheet</h1>
<span style="text-align:right">
  <% form_tag "/attendances/find" do %>
    <%= text_field_tag :date  %>
  <%= submit_tag "Find Date YYYY/MM/DD"  %>
  <% end %>
</span>
  <table>
<% for attendance in @attendances %>
    <tr>
      <td><%= attendance.EmpId %></td>
      <td><%= attendance.Entry_Timestamp %></td>
    </tr>
  <% end %>
  </table>
<br/>
<a href="/attendances/new">Add Attendance</a> | <a href="">Weekly Report</a>
</html>
